* {
  box-sizing: border-box;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #f2f2f2;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 50px 300px 800px 350px;
  width: 96%;
  margin: auto 1rem 4rem 1rem;
  border-radius: 70%;
}

main aside {
  display: flex;
  flex-direction: column;
}
main aside .sidemenu {
  background: white;
  height: 100vh;
}
#close {
  display: none;
}

#menu {
  display: none;
}

main aside .sidemenu a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
  height: 2.95rem;
}
main aside .sidemenu a i {
  color: #808080;
}

#ic {
  margin-top: 20px;
}
#ic1 {
  margin-top: 30px;
}
#ic2 {
  margin-top: 274px;
}
main aside .sidemenu div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main aside .sidemenu img {
  width: 20px;
  margin-top: 20px;
}

main aside .sidemenu a i:hover {
  background-color: rgb(71, 7, 234);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/*-------------------------------------------------------------------------------------*/
.sidebar {
  background: #f9f9f9;
}

#header {
  margin-left: 50px;
  margin-top: 50px;
}
.h1 {
  display: flex;
}
.name {
  max-width: 300px;
  max-height: 40px;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 10px;
  margin-top: 10px;
}

.txt1 {
  font-size: 13px;
}
.image {
  max-width: 70px;
  max-height: 70px;
}

.image img {
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}

#center {
  margin-left: 50px;
}
.today {
  font-size: 15px;
  font-weight: 700;
  margin-top: 30px;
}

.amount {
  font-size: 23px;
  font-weight: bolder;
  margin-top: 15px;
}

.txt2 {
  font-size: 10px;
  color: #808080;
  margin-top: 5px;
}

.dollar {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 13px;
}

.btn1 {
  background-color: #0000ff;
  color: white;
  width: 50%;
  padding: 0.7rem 0;
  margin-top: 13px;
  border-radius: 12px;
  display: block;
  border: none;
  cursor: pointer;
}
.btn1 img {
  color: white;
  margin-left: 6px;
}

.wd {
  font-size: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.date {
  font-size: 10px;
  color: #808080;
  margin-top: 10px;
}

.txn {
  font-size: 15px;
  font-weight: 700;
  margin-top: 40px;
}
.txt10 {
  margin-top: 20px;
  font-size: 10px;
  color: #808080;
}
#center p {
  border-bottom: 1px solid;
  color: #d6d6d6;
  width: 160px;
  margin-top: 15px;
  height: 1px;
}
/*--------------------------------------------------------*/
.middle {
  background: white;
}

#header1 {
  margin-left: 70px;
  margin-top: 50px;
  max-width: 650px;
}

.inc {
  color: #0000ff;
}

.str {
  font-size: 22px;
}

.amt {
  display: flex;
  margin-top: 30px;
}

.txt3 {
  font-size: 20px;
}

.figure {
  font-size: 20px;
  margin-left: 30px;
}

hr {
  width: 170px;
  border-color: #0000ff;
  margin-top: 10px;
}

.contribution {
  margin-top: 50px;
  margin-left: 70px;
  width: 650px;
}
#chart_div {
  width: 650px;
}

#chart_div1 {
  display: none;
}
#footer {
  margin-top: 20px;
  margin-left: 70px;
  width: 650px;
}

.s1 {
  border: none;
  margin-top: 20px;
}

.footer {
  display: flex;
}

.footer p {
  border-bottom: 1px solid;
  color: #d6d6d6;
  width: 160px;
  margin-top: 10px;
  height: 1px;
}

.circle-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.circle-container .circle {
  margin-left: 1px;
}

.circle.percentage-95 .percentage-bar:after,
.circle.percentage-78 .percentage-bar:after,
.circle.percentage-59 .percentage-bar:after {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
  transform: rotate(0deg);
  width: 100px;
  height: 100px;
  border: 10px solid #40e0d0;
  background: transparent;
  border-radius: 100%;
  transition: width 0.1s ease-out, height 0.1s ease-out,
    border-width 0.1s ease-out;
}

.circle.percentage-95 .percentage-bar,
.circle.percentage-78 .percentage-bar,
.circle.percentage-59 .percentage-bar {
  -webkit-clip-path: none;
  clip-path: none;
}

/* percentage circle style */
.circle {
  width: 100px;
  height: 100px;
  cursor: default;
}
.circle span {
  position: absolute;
  display: block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  text-align: center;
  color: black;
  line-height: 120px;
  font-size: 20px;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  transition: font-size 0.2s ease-out;
  font-weight: bolder;
}
.circle:before {
  position: absolute;
  content: "";
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 10px solid #f0f8ff;
  background: transparent;
  border-radius: 100%;
  transition: width 0.1s ease-out, height 0.1s ease-out,
    border-width 0.1s ease-out;
}
.circle .percentage-bar {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-clip-path: inset(0 0 0 50%);
  clip-path: inset(0 0 0 50%);
}
.circle .percentage-bar:before {
  position: absolute;
  content: "";
  -webkit-clip-path: inset(0 50% 0 0);
  clip-path: inset(0 50% 0 0);
  transform: rotate(0deg);
  width: 100px;
  height: 100px;
  border: 10px solid #40e0d0;
  background: transparent;
  border-radius: 100%;
  transition: width 0.1s ease-out, height 0.1s ease-out,
    border-width 0.1s ease-out;
}
.circle:hover:before {
  width: 120px;
  height: 120px;
  border-width: 10px;
}
.circle:hover span {
  font-size: 20px;
}
.circle:hover .percentage-bar:before,
.circle:hover .percentage-bar:after {
  width: 120px;
  height: 120px;
  border-width: 10px;
}

.circle.percentage-59 .percentage-bar:before {
  transform: rotate(212.4deg);
}

.circle.percentage-78 .percentage-bar:before {
  transform: rotate(280.8deg);
}

.circle.percentage-95 .percentage-bar:before {
  transform: rotate(342deg);
}
.circle2 {
  margin-left: 30px;
}
/******************************************************************************************************************/

.right {
  background: white;
}

.retirement {
  background: #f9f9f9;
  margin-top: 50px;
  margin-left: 1px;
  max-width: 250px;
}
.header .strateg {
  padding: 20px;
}

.contri {
  margin-left: 20px;
  margin-top: 10px;
}

.retdAge {
  margin-top: 20px;
  margin-left: 20px;
}

.empct {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}

.interest {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}

.text1 {
  margin-left: 20px;
}

.text2 {
  margin-left: 90px;
}
.slider {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  width: 150px;
  height: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #f2f2f2;
  height: 0.3rem;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  box-shadow: -80px 0 0 80px #87ceeb;
  margin-top: -10px;
  background-color: white;
  height: 20px;
  width: 20px;
}

.btn2 {
  background-color: #0000ff;
  color: white;
  width: 82%;
  padding: 0.7rem 0;
  margin-top: 13px;
  border-radius: 12px;
  display: block;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
}

.value {
  background: white;
  height: 20px;
  width: 30px;
  margin-left: 20px;
}

.header p {
  border-bottom: 1px solid;
  color: #d6d6d6;
  width: 200px;
  margin-top: 10px;
  height: 1px;
  margin-left: 20px;
}

.update {
  color: white;
  font-size: 15px;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #0000ff;
  font-size: 13px;
}

a i {
  color: #0000ff;
  margin-left: 2px;
}

.lastdiv {
  display: flex;
  margin-top: 30px;
}

.vl {
  border-left: 3px solid #0000ff;
  height: 100px;
}

.ques1 {
  font-size: 16px;
  color: #808080;
  margin-left: 20px;
}

.ques2 {
  font-size: 16px;
  font-weight: bolder;
}

.learn {
  margin-top: 10px;
  color: #0000ff;
  font-size: 13px;
}

/**********************************************MEDIA QUERIES*******************************/

@media screen and (max-width: 600px) {
  body {
    background: white;
  }

  main {
    grid-template-columns: 1fr;
  }

  /* main aside .sidemenu {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30px;
    height: 100%;
  }*/

  main aside .sidemenu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    width: 100px;
    height: 100vh;
    animation: showSidebar 500ms ease forwards;
  }

  @keyframes showSidebar {
    to {
      left: 0;
    }
  }

  main aside #close {
    display: inline;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    z-index: 4;
    background: transparent;
    color: black;
  }

  #menu {
    display: inline;
    width: 20px;
    height: 30px;
    position: absolute;
    right: 2rem;
    top: 0.6rem;
    z-index: 4;
    background: transparent;
    color: black;
    display: block;
  }

  main aside img {
    display: none;
  }

  #ic {
    margin-top: 30px;
  }
  .side-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555; /* Add a border between menu items if desired */
  }

  .sidebar {
    background: white;
  }
  #header {
    margin-left: 2px;
  }

  .name {
    max-width: 300px;
    max-height: 40px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 10px;
    margin-left: 10px;
  }
  #center .today {
    font-size: 25px;
    margin-left: 50px;
    padding: 5px;
  }

  #center p {
    border-bottom: 1px solid;
    color: #d6d6d6;
    width: 300px;
    margin-top: 15px;
    height: 1px;
  }
  .txn {
    font-size: 17px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 50px;
  }

  .wd {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 50px;
  }

  .date {
    font-size: 15px;
    color: #808080;
    margin-top: 20px;
    margin-left: 50px;
  }

  .btn1 {
    background-color: #0000ff;
    color: white;
    width: 50%;
    padding: 0.7rem 0;
    margin-top: 13px;
    border-radius: 12px;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 50px;
  }

  .dollar {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 13px;
    margin-left: 50px;
  }

  .amount {
    margin-left: 50px;
    font-size: 30px;
    font-weight: bolder;
  }
  #center {
    background: #f9f9f9;
    width: 350px;
    margin-left: 30px;
    border-radius: 40px;
  }
  .txt3 {
    font-size: 20px;
  }
  #header1 {
    margin-left: 30px;
    margin-top: 30px;
  }
  .contribution {
    margin-top: 30px;
    margin-left: 30px;
    max-height: 20px;
  }

  .figure {
    font-size: 20px;
    margin-left: 0.5px;
  }

  .amt {
    display: block;
    margin-top: 30px;
  }
  #chart_div {
    display: none;
  }
  #chart_div1 {
    display: block;
    margin-left: 30px;
  }

  #footer {
    margin-top: 20px;
    margin-left: 30px;
  }

  .footer {
    display: block;
  }
  .txt4 {
    font-size: 25px;
  }

  .txt2 {
    font-size: 13px;
    margin-left: 50px;
  }

  .s1 {
    margin-left: 30px;
  }
  .footer p {
    border-bottom: 1px solid;
    color: #d6d6d6;
    width: 350px;
    margin-top: 10px;
    height: 1px;
  }
  .circle-container {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .right .retirement {
    background: #f9f9f9;
    margin-top: 50px;
    margin-left: 1px;
  }
  .right {
    margin-left: 100px;
  }

  .ques1 {
    font-size: 18px;
    color: #808080;
    margin-left: 50px;
  }

  .ques2 {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 50px;
  }
}
